@charset "utf-8";
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/* mobile-nav */
.mobile-alert {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1071;
	width: 100%;
	height: 100%;
	background-color: var(--default);
	visibility: hidden;
	opacity: 0;
	transition: .3s;
}
/* menu */
.mobile-box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-120px);
}
/* close */
.mobile-close {
	position: fixed;
	top: 5px;
	right: 10px;
	z-index: 9;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.mobile-close span {
	position: absolute;
	top: 17px;
	left: 6px;
	width: 25px;
	height: 2px;
	background-color: #fff;
}
.mobile-close span:first-child {
	transform: rotate(45deg);
}
.mobile-close span:last-child {
	transform: rotate(-45deg);
}
/* lang */
.mobile-lang {
	position: absolute;
	bottom: 15px;
	left: 15px;
	transform: translateX(-15px);
	text-align: center;
}
.mobile-lang a {
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 28px;
	font-size: 12px;
	color: #52B2E6;
	border: 1px solid #52B2E6;
}
.mobile-lang a.on,
.mobile-lang a:hover {
	color: #fff;
	border-color: #fff;
}
/* title */
.index-title {
	padding-bottom: 60px;
	text-align: center;
}
.index-title h3 {
	position: relative;
	font-size: 36px;
	line-height: 1.4;
	color: var(--default);
}
.index-title h3 span {
	display: block;
}
.index-title p {
	position: relative;
	max-width: 1200px;
	padding: 0 15px;
	margin: 15px auto 0;
	font-size: 16px;
	line-height: 1.6;
	color: #666;
	text-transform: uppercase;
}
.index-title p span {
	display: block;
}
.index-title-white h3,
.index-title-white p {
	color: #fff;
}
.index-title-left {
	text-align: left;
}
@media (max-width:1600px) {
	.index-title h3 {
		font-size: 32px;
	}
	/* .index-title p { font-size: 16px;} */
}
@media (max-width:1400px) {
	.index-title h3 {
		font-size: 28px;
	}
}
@media (max-width:1200px) {
	.index-title {
		padding-bottom: 40px;
	}
	.index-title p {
		font-size: 16px;
	}
}
@media (max-width:768px) {
	.index-title {
		padding-bottom: 20px;
	}
	.index-title h3 {
		font-size: 24px;
	}
	.index-title p {
		font-size: 14px;
	}
	.index-title p span {
		display: inline;
	}
}
/* online */
.fixed-online {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 77;
	width: 100%;
	display: none;
}
.fixed-online ul li {
	width: 25%;
	text-align: center;
	cursor: pointer;
	transition: .3s;
	border-left: 1px solid #52B2E6;
}
.fixed-online ul li:first-child {
	border-left: none;
}
.fixed-online ul li a {
	position: relative;
	padding: 10px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--default);
	color: #333;
	box-shadow: 0px 4px 19px rgba(165, 165, 165, 0.25);
}
.fixed-online ul li i {
	font-size: 20px;
	color: #fff;
}
.fixed-online ul li p {
	margin-top: 6px;
	font-size: 12px;
	color: #fff;
}
@media (max-width:768px) {
	.fixed-online {
		display: block;
	}
}
