@charset "utf-8";
/* title */
.index-title {padding-bottom: 30px;text-align: center;}
.index-title h3 {position: relative;font-size: 36px;line-height: 1.4;color: #333;}
.index-title h3 span {display: block;}
.index-title h3 em{ display: block; font-size: 24px; font-style: inherit; color: #808080;}
.index-title p {position: relative;max-width: 1200px; margin: 15px auto 0;font-size: 16px;line-height: 1.6;color: #666;text-transform: uppercase;}
.index-title p span {display: block;}
.index-title-white h3,.index-title-white p {color: #fff;}
.index-title-left {text-align: left;}
.index-title-left h3::before{position: absolute; top: 10px; left: -20px; content: ''; background-image: linear-gradient( #06E2E5 50%, #3355FC 50%); width: 10px; height: 20px;}
.index-title-left p{ margin: 0; margin-top: 15px;}
@media (max-width:1600px) {
	.index-title h3 {font-size: 32px;}
}

@media (max-width:1400px) {
	.index-title h3 {font-size: 28px;}
	.index-title h3 em{ font-size: 20px; }
	.index-title-left h3::before {top: 7px;}
}

@media (max-width:1200px) {
	.index-title {padding-bottom: 40px;}
	.index-title p {font-size: 16px;}
}

@media (max-width:768px) {
	.index-title {padding-bottom: 20px;}
	.index-title h3 {font-size: 24px;}
	.index-title h3 em{ font-size: 16px; }
	.index-title p {font-size: 14px;}
	.index-title p span {display: inline;}
	.index-title-left h3{padding-left: 20px;}
	.index-title-left h3::before{ top: 6px; left: 0; width: 8px; height: 18px;}
}


/* 
|----------------------
|   header
|----------------------
*/
.header{position:fixed;top:0;left:0;z-index:999;padding:15px 100px;width:100%;align-items:center;justify-content:space-between; background-color: rgba(255, 255, 255, .3) ;transition:.3s;}

/* .index-header{background-color: rgba(255, 255, 255, .6)} */
.header::before{position: absolute; top: 0; left: 0; content: ''; z-index: -1; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.1);backdrop-filter: blur(15.5px);-webkit-backdrop-filter: blur(15.5px);border: 1px solid rgba(255, 255, 255, 0.18);box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;border-radius: 9px;-webkit-border-radius: 9px;color: rgba(255, 255, 255, 0.45);}

.header-space{height: 80px;}

@media (max-width:1600px){
	.header{padding-right:15px;padding-left:15px;}
}

@media (max-width:1440px) {
	.header{padding-right:80px;padding-left:80px;}
}

@media (max-width:1366px) {
	.header {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media (max-width:1280px) {
	.header {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width:960px) {
	.header {
		padding-left: 15px;
		padding-right: 15px;
	}
}


@media (max-width:768px){
	.header-space{display: none;}
}

.header-wrap{justify-content:space-between;}
.header-left{align-items:center}
.header-logo img{height:30px; max-width:100%;}

.header-right{align-items:center}
.navigation>ul>li{position:relative; margin-left:50px;}
.navigation>ul>li>a{display:block; color: var(--default); font-size:20px; line-height:50px;}
.navigation>ul>li>a:before{position:absolute;bottom:0;left:0;width:0; height:2px; background-color: var(--default); content:""; transition:.3s;}
.navigation>ul>li>a:hover:before,
.navigation>ul>li.on>a:before{width:100%}
.navigation>ul>li:nth-child(3) .navfix{display:none}
@media (max-width:1800px){
	.navigation>ul>li{margin-left:40px}
}
@media (max-width:1700px){
	.navigation>ul>li{margin-left:30px}
}
@media (max-width:1600px){
	.navigation>ul>li{margin-left:20px}
	.navigation>ul>li>a{font-size:18px}
}
@media (max-width:1400px){
	.navigation>ul>li>a{font-size:16px}
}
@media (max-width:768px){
	.navigation{display:none}
}


.navbar{display:none;margin-left:20px;width:30px;cursor:pointer}
.navbar span{display:block;width:100%;height:2px;background-color:var(--default);}
.navbar span:nth-child(2){position:relative;margin:7px 0}
@media(max-width:768px){
	.navbar{display:block}
	
}
.burger-bg{position:fixed;top:0;left:0;z-index:3378;padding:60px 15px 20px;width:100%;height:100%;background-color:#fff;transition:all .3s}
.burger-scroll{overflow-y:auto;height:100%}
.burger-logo{position:fixed;top:15px;left:15px}
.burger-logo img{height:30px}
.close-burger{position:fixed;top:15px;right:15px;width:34px;height:29px}
.close-burger span{position:absolute;top:17px;left:6px;width:25px;height:1px;background-color:#000}
.close-burger span:first-child{transform:rotate(45deg)}
.close-burger span:last-child{transform:rotate(-45deg)}
.burger-bg-active{visibility:hidden;opacity:0;transform:translateX(120px)}
.burger-nav{position:relative;padding-top:20px;height:100%}
.burger-nav-lists>li{position:relative;border-bottom:1px solid #eee}
.burger-nav-lists>li>a{color:#333;font-size:18px;line-height:45px}
.burger-nav-f1{display:none;transition:none}
.burger-nav-f1 ul>li{position:relative;padding-left:20px;border-bottom:1px solid #eee}
.burger-nav-f1 ul>li:last-child{border-bottom:none}
.burger-nav-f1 ul>li a{color:#999;font-size:16px;line-height:45px}
.burger-nav-f2{display:none;transition:none}
.burger-nav-f2 li{border-color:#6196bb;background-color:#d6e6f1}
.burger-nav-f2 li a{padding-left:20px;color:#316a91;font-size:16px}
.burger-nav-lists li span{position:absolute;top:12px;right:15px;width:12px;height:12px;border-top:1px solid #333;border-right:1px solid #333;transform:rotate(135deg)}


/* 
|----------------------
|   footer
|----------------------
*/
.footer-bg {padding-top: 60px;}

.footer {
	justify-content: space-between;
}

.footer-top{justify-content: space-between; align-items: center; padding-bottom: 30px; margin-bottom: 70px; border-bottom: 1px solid #eee;}
.footer-nav ul{align-items: center;}
.footer-nav ul li{margin-left: 60px;}
.footer-nav ul li a{ display: inline-block; line-height: 30px; font-size: 18px; color: var(--default);}
.footer-nav ul li a svg{vertical-align: middle;}
.footer-logo img {height: 40px;}

.footer-left {width: 70%;}
.footer-infos{width: 50%;}
.footer-infos h3 { margin-top: 5px; font-size: 16px;color: #333;}
.footer-infos p { font-size: 16px;color: #999; line-height: 1.4;}

.footer-infos div:nth-child(2){margin-top: 20px;}
.footer-infos div:nth-child(3){margin-top: 25px;}

.footer-right {flex: 1;}
.footer-wechat {display: flex;justify-content: flex-end;}
.footer-wechat>div {margin-right: 5%;}
.footer-wechat>div img {max-width: 140px;}
.footer-wechat>div p {margin-top: 15px;color: #666;text-align: center;}

@media (max-width:1400px) {
	.footer-bg {padding-top: 50px;}
	.footer-nav-item {margin-bottom: 45px;width: 33.33%;}
}

@media (max-width:1200px) {
	.footer-left,
	.footer-right {width: 100%;}
	.footer-nav ul li{margin-left: 30px;}
	.footer-wechat { margin-top: 30px; justify-content: flex-start;}
}

@media (max-width:860px) {
	.footer-nav ul li{margin-left: 15px;}

	.footer-infos p { font-size: 16px;color: #999; line-height: 1.4;}
}

@media (max-width:768px) {
	.footer-logo img {height: 30px;}
	.footer-bg {padding-top: 30px;}
	.footer-top{ border-bottom: none; padding-bottom: 0; margin-bottom: 0;}
	.footer-nav ul li{display: none;}
	.footer-nav ul li:last-child{display: block;}
	.footer-right {margin-top: 15px;}
	.footer-wechat{justify-content: center;}
	
	.footer-infos{ margin-top: 40px; width: 100%;}
	.footer-infos svg{ width: 24px;}
	
	.footer-infos div:nth-child(2){margin-top: 10px;}
	.footer-infos div:nth-child(3){margin-top: 15px;}
}

@media (max-width:480px) {
	.footer-wechat>div {padding: 0 5%;margin: 0;}
	.footer-wechat>div img {width: 100px;}
}
/* 
|----------------------
|   copyright
|----------------------
*/
.copyright-bg {margin-top: 120px;padding: 15px 0;background-color: #FBFBFF;}
.copyright {align-items: center;justify-content: space-between;}
.copyright-info p {color: rgba(255, 255, 255, .8);line-height: 1.6;color: #B7B7B7;}

.copyright-info a {
	margin-left: 10px;
	color: #B7B7B7;
}

.copyright-info a:hover {
	color: #333;
}

@media (max-width:1400px) {
	.copyright-bg {
		margin-top: 50px;
	}

}

@media (max-width:640px) {
	.copyright-info {
		width: 100%;
	}

	.copyright-info p {
		margin-bottom: 5px;
		font-size: 12px;
	}
}

/* 
|----------------------
|   comma sign
|----------------------
*/
.commaLink {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: #666;
}

.commaLink span {
	padding-right: 5px;
}

.commaLink svg {
	width: 14px;
}

.commaLink svg circle {
	fill: none;
}

.commaLink svg path {
	fill: #666;
}

.commaLink:hover span {
	color: #666;
}

.commaLink:hover svg circle {
	fill: #E40010;
}

.commaLink:hover svg path {
	fill: #666;
}
